
.navbar {
  width: 200px;
  background-color: #94a9ca;
  color: black;
  height: 100vh;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
}


.navbar.collapsed {
  width: 60px;
  padding-left: 10px;
}

.navbar-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}


.navbar-icon {
  color: white;
  align-items: center;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}


.navbar-title {
  font-size: 24px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
}

.navbar.collapsed .navbar-title {
  opacity: 0;
  width: 0;
  overflow: hidden;
}


.navbar-links {
  display: flex;
  flex-direction: column;
}


.navbar.collapsed .navbar-links span {
  display: none;
  align-items: center;
}

.navbar-item {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 10px 0;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 8px;
  text-decoration: none;
}

.navbar-link-icon {
  font-size: 20px;
  margin-right: 12px;
  align-items: center;
  transition: color 0.3s ease;
}

.navbar-item:hover {
  background-color: #588de2;
  color: white;
}

.navbar-item.active {
  background-color: #4f80ce;
  color: white;
}

.navbar-item.active .navbar-link-icon {
  color: white;
}

.navbar.collapsed .navbar-link-icon {
  margin-right: 2px;
  margin-left: 2px;
  font-size: 24px;
  align-items: center;
}
