
.task-service-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }

  .task-service-body {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  
  .task-service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .task-service-header h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .task-service-header button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .task-service-header button:hover {
    background-color: #d32f2f; 
  }
  
 
  .task-detail {
    margin: 15px;
  }
  
  .task-detail label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .task-detail input,
  .task-detail select,
  .task-detail textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
  }
  
  .task-detail input[type="date"] {
    font-size: 1rem;
  }
  
  .task-detail textarea {
    resize: vertical;
    height: 120px;
  }
  
  /* Button group */
  .task-service-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .task-service-actions button {
    background-color: #4caf50; 
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .task-service-actions button:hover {
    background-color: #388e3c; 
  }
  
  .task-service-actions button:last-child {
    background-color: #f44336; 
  }
  
  .task-service-actions button:last-child:hover {
    background-color: #d32f2f; 
  }
  